
  
  /* CSS */
  .Button {
    
    background-color: transparent;
    border: 1px solid #26b634;
    /* box-sizing: border-box; */
    height: 50px;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  
  
  .Button:hover,
  .Button:active {
    outline: 0;
  }
  
  .Button:hover {
    background-color: transparent;
    cursor: pointer;
  }
  
  .Button:before {
    background-color: #d5f6da;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }
  
  .Button:hover:before {
    background-color: #80fbad;
  }
/*   
  @media (min-width: 768px) {
    .button {
      padding: 16px 32px;
    }
  } */