.h1{
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    text-align:  center;
    padding: 20px;
    padding-top: 20px;
    font-size: 40px;

}

.image{
    display: block;
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 100px;
}

.h2{
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    text-align:  center;
    padding: 20px;
    padding-top: 0px;
    font-size: 20px;
}

.Section {
    text-align: center;
    background-color: #d5f6da;
    border: 1px solid #26b634;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    text-decoration: none;
  }

  .PhotoCred {
    font-size: 11px;
    color: #cccccc;
    font-family: "Century Gothic", sans-serif;
    padding-bottom: 50px;
  }

 
@media only screen and (max-width: 950px) {
  .topicStye {
     padding-left: 10%;
     padding-right: 10%;
  }
}

@media only screen and (max-width: 320px) {
  .topicStye {
     padding-left: 0;
     padding-right: 0;
  }
}